/* Small fix to support mobile, has to be improved */

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.filters { width: 100%;}

.result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.empty {
  padding: 16px;
  text-align: center;
  width: 100%;
}

@media (min-width: 1024px) {
  .container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
  }
  
  .filters {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .result {
    flex-wrap: wrap;
    flex: 0 0 80%;
    max-width: 80%;
  }
}